md-input-container {
  font-family: "Lato-Regular";
  color: #c9c9c9 !important;
  font-size: 14px;
  margin-right: 18px;
  width: 150px;
}

md-select {
  font-family: "Lato-Regular";
  color: #5a5a5a;
  font-size: 14px;
  width: 150px;
  margin-right: 18px;
}



input {
  font-family: "Lato-Regular";
  color: #5a5a5a !important;
}

.contact-form {
  padding-top: 10px;

}