<div class="todo-card">

  <h2>Tasks</h2>

  <button md-button>
    <p style="margin: 5px 0px 5px -10px">+ &nbsp; &nbsp;You have 3 incomplete tasks connected to Daniel Howell</p>
  </button>


    

          
  <md-checkbox><span style="margin-left: 10px;">Choose some royalty free fonts</span></md-checkbox>

  <md-checkbox><span style="margin-left: 10px;">Give Jono feedback on design</span></md-checkbox>

  <md-checkbox><span style="margin-left: 10px;">Discuss Electron app shell</span></md-checkbox>

</div>