.app-container {
	height: 100%;
}

// .example-fab {
//   position: absolute;
//   right: 20px;
//   bottom: 10px;
// }

// .example-card {
//   width: 400px;
// }

.right-sidenav {
  width: 320px;
  background-color: #f7f7f7 !important;
  border-left-style: solid;
  border-left-color: #e2e2e4;
  border-left-width: 1px;
}

.top-buttons {
  margin: 2px 0px 2px 14px !important;
  height: 38px !important;
  width: 38px !important;

  md-icon {
    color: #838383;
    font-size: 22px;
    margin-top: -4.5px;
  }
}

.top-left-buttons {
  margin: 2px 0px 2px 0px !important;
  height: 38px !important;
  width: 38px !important;

  md-icon {
    color: #838383;
    font-size: 22px;
    margin-top: -4.5px;
  }
}

.profileMenu {
  img {
    height: 30px;
    width: 30px;
    border-radius: 4px;
    margin-top: 7px;
    margin-left: 15px;
  }
  h1 {
    font-family: 'Lato-Regular';
    font-size: 13px;
    color: #6a6a6a;
    text-align: left;
  }
  h2 {
    margin-top: -15px;
    font-family: 'Lato-Black';
    font-size: 9px;
    color: #6a6a6a;
    text-align: left;
  }
  h3 {
    font-family: 'Lato-Regular';
    font-size: 13px;
    color: #6a6a6a;
    margin-top: -7px;
    text-align: left;
  }
}

.mainMenu {

  h1 {
    font-family: 'Lato-Regular';
    font-size: 14px;
    color: #838383;
    text-align: left;
    margin-top: 12px;
    margin-left: 10px;
  }
  h2 {
    margin-top: -15px;
    font-family: 'Lato-Black';
    font-size: 9px;
    color: #838383;
    text-align: left;
  }
  h3 {
    font-family: 'Lato-Regular';
    font-size: 13px;
    color: #838383;
    margin-top: -6px;
    text-align: left;
  }
}

.mainMenuContainer {
  border-radius: 4px;
  background-color: #f7f7f7;
  button {
    min-height: 78px !important;
    margin-top: 10px;
  }
  img {
    height: 52px;
    width: 52px;
  }
  h1 {
    font-family: 'Lato-Regular';
    font-size: 12px;
    color: #5a5a5a;
    text-align: center;
    margin-top: 5px;
    max-width: 52px;
    text-overflow: ellipsis;
  }

}

.md-menu-panel {
  max-width: 1000px !important;
  margin-top: 42px;
}


h1 {
  font-family: "Lato";
  font-size: 14px;
  line-height: 17px;
  color: #5a5a5a;
  display: block;
  margin-bottom: 0px;
  font-weight: 500;
}
h2 {
  font-size: 12px;
  font-family: "Lato";
  // margin-left: 20px;
  font-weight: 700;
  color: #838383;
}
h3 {
  padding-top: 14.5px;
  font-family: "Lato";
  font-size: 20px;
  line-height: 24px;
  color: #5a5a5a;
  display: block;
  margin-bottom: 0px;
  font-weight: 500;
}
h5 {
  color: #f7f7f7;
}
h4 {
  font-family: "Lato";
  font-weight: 500;
  color: #ffffff;
  position: relative;
  top: 20px;
  font-size: 35px;
  left: 15px;
}
p {
  margin-top: 0px;
  font-family: "Lato-Regular";
  font-size: 14px;
  line-height: 17px;
  color: #838383;
  display: block;
}

md-checkbox {
  margin-top: 10px;
  font-family: "Lato-Regular";
  font-size: 14px;
  line-height: 17px;
  color: #5a5a5a;
  display: block;
  text-decoration: none;
}
md-checkbox.md-checkbox-checked {
  text-decoration: line-through;
  color: #c9c9c9;
}
md-checkbox.md-checkbox-checked.md-accent .md-checkbox-background, .md-checkbox-indeterminate.md-accent .md-checkbox-background {
  background-color: #c9c9c9;
}

md-list-item {
	height: 300px
}

md-sidenav.md-sidenav-opened, md-sidenav.md-sidenav-opening{
  box-shadow: 0 0 0 0 !important;
}