


 <md-toolbar class="app-toolbar" color="primary">
   <div fxLayout="row" fxFill>
     <div fxFlex="300px" fxLayoutAlign="end">
   
     
    <!--<button md-icon-button (click)="openLeftNav()">
      <md-icon svgIcon="ether" color="warn" style="margin-top: -2px;"></md-icon>
    </button>-->
    


    <button class="profileMenu" md-button [mdMenuTriggerFor]="menu">
      <div fxLayout="row" fxFill>
        <div fxLayout="column">
          <h1>Edwin Luther</h1>
          <h2>ADMINISTRATOR</h2>
        </div>
      
      <img [src]='userAvatar'>
      </div>
      </button>
<md-menu x-position="before" #menu="mdMenu">
  <button md-menu-item>Item 1</button>
  <button md-menu-item>Item 2</button>
</md-menu>
    </div>
    <div fxFlex fxLayoutAlign="start">
      <button class="mainMenu" md-button [mdMenuTriggerFor]="menu2">
      <div fxLayout="row" fxFill>
        <h3><md-icon>apps</md-icon></h3>
        <div fxLayout="column">
          <h1>Home</h1>
        </div>
      
      
      </div>
      </button>
      <md-menu class="mainMenuContainer" x-position="after" #menu2="mdMenu">
        <div fxLayout="row" fxFill>
              <button md-menu-item (click)="routeHome()">
                <div fxLayout="column">
                <img [src]='homeMenuImage'>
                <h1>Home</h1>
                </div>
                </button>
             <button md-menu-item (click)="routeHome()">
                <div fxLayout="column">
                <img [src]='salesMenuImage'>
                <h1>Sales</h1>
                </div>
                </button>
                <button md-menu-item (click)="routeHome()">
                <div fxLayout="column">
                <img [src]='opportunitiesMenuImage'>
                <h1>Opport.</h1>
                </div>
                </button>
                 <button md-menu-item (click)="routeHome()">
                <div fxLayout="column">
                <img [src]='accountsMenuImage'>
                <h1>Accounts</h1>
                </div>
                </button>
                <button md-menu-item (click)="routeHome()">
                <div fxLayout="column">
                <img [src]='marketsMenuImage'>
                <h1>Markets</h1>
                </div>
                </button>
        </div>
        <div fxLayout="row" fxFill>
              <button md-menu-item (click)="routeHome()">
                <div fxLayout="column">
                <img [src]='messagesMenuImage'>
                <h1>Messages</h1>
                </div>
                </button>
             <button md-menu-item (click)="routeContacts()">
                <div fxLayout="column">
                <img [src]='contactsMenuImage'>
                <h1>Contacts</h1>
                </div>
                </button>
                <button md-menu-item (click)="routeHome()">
                <div fxLayout="column">
                <img [src]='calendarMenuImage'>
                <h1>Calendar</h1>
                </div>
                </button>
                <button md-menu-item (click)="routeHome()">
                <div fxLayout="column">
                <img [src]='tasksMenuImage'>
                <h1>Tasks</h1>
                </div>
                </button>
                <button md-menu-item (click)="routeHome()">
                <div fxLayout="column">
                <img [src]='notesMenuImage'>
                <h1>Notes</h1>
                </div>
                </button>
        </div>
</md-menu>

    </div>

    <div fxFlex fxLayoutAlign="end">
    




    <button class="top-buttons" md-icon-button>
      <md-icon>build</md-icon>
    </button>
    <button class="top-buttons" md-icon-button>
      <md-icon>cached</md-icon>
    </button>
    <button class="top-buttons" md-icon-button>
      <md-icon>alarm</md-icon>
    </button>
    <button class="top-buttons" md-icon-button>
      <md-icon>assessment</md-icon>
    </button>
    <button class="top-buttons" md-icon-button>
      <md-icon>dns</md-icon>
    </button>
    <button class="top-buttons" md-icon-button (click)="rightsidenav.toggle()">
      <md-icon>announcement</md-icon>
    </button>






    </div>
</div>
</md-toolbar>



  
<md-sidenav-layout class="app-container">
  
  <div fxFill>

    <router-outlet></router-outlet>

  </div>

  <md-sidenav #rightsidenav mode="side" align="end" class="right-sidenav">


<app-notifications></app-notifications>
      
      


  </md-sidenav>
</md-sidenav-layout>

