/* You can add global styles to this file, and also import other style files */
@import 'theming.scss';

body {
	margin: 0;
	height: 100vh;
	overflow: hidden;
}
md-toolbar-row {
	height: 42.4px !important;
}

md-toolbar {
	min-height: 42.4px !important;
	background-color: #f7f7f7 !important;
	border-bottom: solid;
	border-bottom-width: 1px;
	border-bottom-color: #E2E2E4;
}



@font-face {
    font-family: 'Lato-Black';
    src: url(./assets/fonts/Lato/Lato-Black.ttf) format('truetype');
}
@font-face {
    font-family: 'Lato-BlackItalic';
    src: url(./assets/fonts/Lato/Lato-BlackItalic.ttf) format('truetype');
}
@font-face {
    font-family: 'Lato-Bold';
    src: url(./assets/fonts/Lato/Lato-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Lato-BoldItalic';
    src: url(./assets/fonts/Lato/Lato-BoldItalic.ttf) format('truetype');
}
@font-face {
    font-family: 'Lato-Hairline';
    src: url(./assets/fonts/Lato/Lato-Hairline.ttf) format('truetype');
}
@font-face {
    font-family: 'Lato-HairlineItalic';
    src: url(./assets/fonts/Lato/Lato-HairlineItalic.ttf) format('truetype');
}
@font-face {
    font-family: 'Lato-Italic';
    src: url(./assets/fonts/Lato/Lato-Italic.ttf) format('truetype');
}
@font-face {
    font-family: 'Lato-Light';
    src: url(./assets/fonts/Lato/Lato-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'Lato-LightItalic';
    src: url(./assets/fonts/Lato/Lato-LightItalic.ttf) format('truetype');
}
@font-face {
    font-family: 'Lato';
    src: url(./assets/fonts/Lato/Lato-Regular.ttf) format('truetype');
}