@import '~@angular/material/core/theming/all-theme';
// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include md-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$candy-app-primary: md-palette($md-light-blue, 900);
$candy-app-accent:  md-palette($md-light-blue, 700);

// The warn palette is optional (defaults to red).
$candy-app-warn:    md-palette($md-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: md-dark-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

.md-sidenav-container {
  background-color: white !important;
}

.md-select-value {
  font-family: "Lato-Regular";
  color: #5a5a5a !important;
  top: 3px !important;
}

.md-select-trigger {
  height: 25px !important;
}

.md-checkbox-frame {
  color: #7BACC9;
}

.md-select-placeholder.md-floating-placeholder {
  top: -18px !important;
  color: #c9c9c9 !important;

}

.md-input-placeholder {
  color: #909090 !important;
}

.md-tab-group {
	font-family: "Lato-Regular" !important;
  color: #c9c9c9 !important;
  font-size: 13px;
  height: 20px !important;
}

.md-tab-header {
  border-style: none !important;
  height: 30px !important;
  padding-top: 0px !important;
}

.md-tab-label {
	font-family: "Lato-Regular" !important;
  color: #5a5a5a !important;
  font-size: 13px;
  min-width: 20px !important;
  margin-top: -10px !important;
}

.md-tab-label-active {
  background-color: #fff !important;
}

md-option {
  background-color: #fff !important;
  color: #5a5a5a !important;
  font-family: "Lato-Regular" !important;
  font-size: 14px !important;
  height: 40px !important;
}

.md-menu-content {
  background-color: #fff !important;
}

[md-menu-item] {
  color: #5a5a5a !important;
  font-family: "Lato-Regular" !important;
  font-size: 14px !important;
  height: 40px !important;
}

md-ink-bar {
  background-color: #7BACC9 !important;
}



input {
  font-family: "Lato-Regular";
  color: #5a5a5a !important;
}