<md-sidenav-layout class="example-sidenav-fab-container">
  
  <md-sidenav #sidenav mode="side" opened="true" align="start" class="left-sidenav">

    <div class="example-scrolling-content">

      <md-input-container floatingPlaceholder="false" class="etherSearch" dividerColor="#7BACC9">
        <input md-input placeholder="Templar Financial Advisors" style="width: 120px; margin-top: -10px; margin-left: 5px; color: #838383 !important;">
        <button md-icon-button style="margin-left: 120px; margin-top: -50px !important;"><md-icon style="color: #838383; width: 20px;">search</md-icon></button>
      </md-input-container >
      <!--<button md-button style="text-align: left !important; padding: 5px; margin-top: -10px;">
          <p style="margin: 4px 170px 4px 10px;">+ &nbsp; &nbsp;Add New Contact</p>
          </button>-->

      <md-nav-list>
        <button md-button *ngFor="let teamMember of teamMembers" style="width: 100% !important; align-items: true">
          
          <img *ngIf="teamMember.photo" class="contactAvatar" md-list-avatar [src]="teamMember.photo">
            <h3 md-line>{{teamMember.name}}</h3>
            <p md-line>{{teamMember.updated | amTimeAgo}} </p>
          
          </button>

          

      </md-nav-list>

      <md-input-container floatingPlaceholder="false" class="etherSearch" dividerColor="#7BACC9">
        <input md-input placeholder="Templar Financial Advisors" style="width: 120px; margin-top: -10px; margin-left: 5px; color: #838383 !important;">
        <button md-icon-button style="margin-left: 120px; margin-top: -50px !important;"><md-icon style="color: #838383; width: 20px;">search</md-icon></button>
      </md-input-container >
      <!--<button md-button style="text-align: left !important; padding: 5px; margin-top: -10px;">
          <p style="margin: 4px 170px 4px 10px;">+ &nbsp; &nbsp;Add New Contact</p>
          </button>-->

      <md-nav-list>
        <button md-button *ngFor="let teamMember of teamMembers" style="width: 100% !important; align-items: true">
          
          <img *ngIf="teamMember.photo" class="contactAvatar" md-list-avatar [src]="teamMember.photo">
            <h3 md-line>{{teamMember.name}}</h3>
            <p md-line>{{teamMember.updated | amTimeAgo}} </p>
          
          </button>

          

      </md-nav-list>

      <md-input-container floatingPlaceholder="false" class="etherSearch" dividerColor="#7BACC9">
        <input md-input placeholder="Templar Financial Advisors" style="width: 120px; margin-top: -10px; margin-left: 5px; color: #838383 !important;">
        <button md-icon-button style="margin-left: 120px; margin-top: -50px !important;"><md-icon style="color: #838383; width: 20px;">search</md-icon></button>
      </md-input-container >
      <!--<button md-button style="text-align: left !important; padding: 5px; margin-top: -10px;">
          <p style="margin: 4px 170px 4px 10px;">+ &nbsp; &nbsp;Add New Contact</p>
          </button>-->

      <md-nav-list>
        <button md-button *ngFor="let teamMember of teamMembers" style="width: 100% !important; align-items: true">
          
          <img *ngIf="teamMember.photo" class="contactAvatar" md-list-avatar [src]="teamMember.photo">
            <h3 md-line>{{teamMember.name}}</h3>
            <p md-line>{{teamMember.updated | amTimeAgo}} </p>
          
          </button>

          

      </md-nav-list>

      <!--<img src="../assets/sideleft@2x.png" style="width:346.14px;">-->

    </div>

  </md-sidenav>
  <div>
      <md-toolbar class="context-subheader" color="primary"style="height: 66px !important; background-color: #fff !important; margin-bottom: 0px;">
    <div class="welcomeBlock">
    <h3>Welcome back, Edwin</h3>
    <p>Thursday 2 February 2017</p>
    </div>
    <button md-button (click)="sidenav.toggle()">
      right menu
    </button>
  </md-toolbar>
  <div class="example-scrolling-content main-scroll">

      
    <div class="detail-container">
      <div class="intro-container">
        <div class="intro-padding"></div>
        <div class="intro-scroll">
        <div class="intro-card">
          <h4>Getting started</h4>
</div>

        </div>
      </div>
      <div class="task-home-container">
          <app-tasks-widget></app-tasks-widget>
      </div>
      <div class="task-home-container">
          <app-messages-widget></app-messages-widget>
        </div>

     



    </div>




  </div>

  </div>
  </md-sidenav-layout>